// Pages

// @import "";
body {
  background: rgb(240, 240, 246);
}

.main-container {
  padding: 130px 30px;
}

.navbar {
  background: white;
  padding: 0px;
  border-bottom: 3px solid rgba(148, 149, 153, 0.3);
  span {
    color: #8bcf23;
    font-size: 30px;
    vertical-align: middle;
    line-height: 80px;
    padding-left: 20px;
  }
}
