.repositories {
  .pl-0 {
    padding-left: 0;
  }
  .search-repositories {
    line-height: 2rem;
    background-color: #424242;
    color: white;
    border: 5px solid rgb(30, 30, 30);
    border-radius: 0;
  }
}
